.preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview :global(.bp3-spinner) {
    position: absolute;
}

.pdfView span[data-markjs] {
    background: none !important;
}

.document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.page {
    width: 100%;
    height: auto;
}

.page > canvas {
    width: 100% !important;
    height: auto !important;
}

.navigation {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.navigation > p {
    margin: 5px;
}
