.searchResults {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
  overflow: auto;
  height: calc(100vh - 101px);
  flex-grow: 1;
}

:global(.disposition-columns) .searchResults {
    grid-auto-flow: column dense;
}

:global(.disposition-columns) .searchResults > div:last-child {
    padding-right: 1rem;
}

.searchResultsSidebar {
  outline: none !important;
  padding: 20px;
  height: calc(100vh - 81px);
  overflow: auto;
  word-break: break-word;
}

.searchResultsSidebar img {
  max-width: 100%;
}
