.results {
  --space: 0.8rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.results > * {
  margin-top: 0;
  margin-bottom: 0;
}

.results > * + * {
  margin-top: var(--space);
}

.results :global(.bp3-card) {
  padding: 10px;
  overflow: hidden;
  word-break: break-word;
}

.resultsHeader {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.moduleLogo {
  height: 1rem;
  margin-right: 0.4rem;
}

.moduleTitle {
  margin-bottom: 0;
}

.resultTotal {
  margin-bottom: 0;
  margin-left: 5px;
}

:global(.disposition-columns) .resultTotal {
  display: none;
}

.moduleFilters {
  margin-left: auto;
}

:global(.disposition-columns) .moduleFilters {
  display: none;
}

.moduleFiltersMore {
  display: none;
  margin-left: auto;
}

.moduleFiltersMoreContainer {
  padding: 3px;
}

:global(.disposition-columns) .moduleFiltersMore {
  display: block;
}

.resultList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

.resultItem {
  height: fit-content;
}
