.results {
    --space: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.results > * {
    margin-top: 0;
    margin-bottom: 0;
}

.results > * + * {
    margin-top: var(--space);
}

.results :global(.bp3-card) {
    padding: 10px;
    overflow: hidden;
    word-break: break-word;
}


.drawerContainer {
    padding: 10px;
    overflow: auto;
}


.drawerContainer img {
    width: 100%;
}
